**Chapter 3  Python的数据结构、函数和文件**

# 3.1 数据结构和序列

## 元组

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [5]:


tuple([4, 0, 2])

(4, 0, 2)

In [6]:
 tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [9]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [10]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
 (4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## 拆分元组

In [13]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [16]:
 seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [17]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [18]:
rest

[3, 4, 5]

In [20]:
 a, b, *_ = values
a, b

(1, 2)

In [21]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## 列表

In [25]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [26]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)
gen

range(0, 10)

In [28]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 添加和删除元素

In [30]:
 b_list.append('dwarf')
 b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf']

In [31]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf', 'dwarf']

In [32]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf', 'dwarf']

In [33]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'dwarf', 'foo']

In [34]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'dwarf', 'foo']

In [35]:
'dwarf' in b_list

True

In [36]:
'dwarf' not in b_list

False

## 串联和组合列表

In [37]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [38]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [44]:
everything = []
for chunk in b_list:
    everything.extend(chunk)
everything

['r',
 'e',
 'd',
 'b',
 'a',
 'z',
 'd',
 'w',
 'a',
 'r',
 'f',
 'd',
 'w',
 'a',
 'r',
 'f',
 'f',
 'o',
 'o']

##  排序

In [46]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [48]:
 b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

## 二分搜索和维护已排序的列表

`bisect.bisect ` 可以找到插入值后仍保证排序的位置,  `bisect.insort` 是向这个位置插入值:

In [51]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [54]:
bisect.bisect(c, 5)

6

In [55]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

## 切片

In [56]:
 seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [57]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [58]:
seq[:5]

[7, 2, 3, 6, 3]

In [59]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [60]:
seq[-4:]

[5, 6, 0, 1]

In [61]:
seq[-6:-2]

[6, 3, 5, 6]

In [62]:
seq[::2]

[7, 3, 3, 6, 1]

In [63]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

## 序列函数
Python有一些有用的序列函数。

### enumerate函数
```python
i = 0
for value in collection:
    # do something with value
    i += 1
```

```python
for i, value in enumerate(collection):
    # do something with value
```

In [66]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### sorted函数

In [67]:
 sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [69]:
 sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [70]:
### zip函数

In [73]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

`zip` 可以处理任意多的序列,元素的个数取决于最短的序列:

In [74]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [75]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [78]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [79]:
last_names

('Ryan', 'Clemens', 'Curt')

### reversed

In [80]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

In [81]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [82]:
d1[7] = 'an integer'

In [83]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [84]:
d1['b']

[1, 2, 3, 4]

In [85]:
'b' in d1

True

In [86]:
 d1[5] = 'some value'

In [87]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [88]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [92]:
 del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [93]:
 ret = d1.pop('dummy')
ret

'another value'

In [94]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [95]:
list(d1.keys())

['a', 'b', 7]

In [96]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [99]:
 d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### Creating dicts from sequences

In [101]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [102]:
### Default values

In [103]:
 words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [104]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [107]:
by_letter2={}
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter, []).append(word)
by_letter2

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [118]:
from  collections import defaultdict
by_letter3 = defaultdict(list)
for word in words:
    by_letter3[word[0]].append(word)
    
by_letter3

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

### Valid dict key types

In [119]:
hash('string')

6945712766305480910

In [121]:
 hash((1, 2, (2, 3)))

1097636502276347782

In [122]:
 hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [124]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

## Set

In [125]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [126]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [127]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [128]:
a.intersection(b)

{3, 4, 5}

In [129]:
a & b

{3, 4, 5}

In [130]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [131]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [134]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [135]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [136]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [137]:
{1, 2, 3} == {3, 2, 1}

True

## List, Set, and Dict Comprehensions

In [139]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [140]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [141]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [142]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

## Nested list comprehensions

In [143]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [144]:
result = [name for names in all_data for name in names  if name.count('e') >= 2]
result

['Steven']

In [148]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]