# Install

## Installing pandas
```
pip install pandas
```

Running the test suite:

In [8]:
import pandas as pd

## Dependencies
- **setuptools**: 24.2.0 or higher
- **NumPy**: 1.9.0 or higher
- **python-dateutil**: 2.5.0 or higher
- **pytz**

# 10 Minutes to pandas

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Object Creation

In [27]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [28]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.404695 -0.638029  0.824494 -0.353112
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741
2013-01-03  1.136395 -0.220216  0.541043 -0.324560
2013-01-04  1.538178  0.610690  0.214867 -1.198420
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183
2013-01-06  1.528725 -0.656547 -0.552676 -0.447703

In [29]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.

df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting `DataFrame` have different dtypes.

In [31]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Viewing Data

In [36]:
df.head()

                   A         B         C         D
2013-01-01  0.404695 -0.638029  0.824494 -0.353112
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741
2013-01-03  1.136395 -0.220216  0.541043 -0.324560
2013-01-04  1.538178  0.610690  0.214867 -1.198420
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183

In [39]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.538178  0.610690  0.214867 -1.198420
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183
2013-01-06  1.528725 -0.656547 -0.552676 -0.447703

In [40]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [43]:
df.values

array([[ 0.40469539, -0.63802897,  0.82449362, -0.3531123 ],
       [-0.4162889 , -0.3129866 ,  0.19360426, -0.39274081],
       [ 1.13639539, -0.22021645,  0.54104341, -0.32456039],
       [ 1.53817838,  0.61069036,  0.21486689, -1.19842013],
       [-0.42695903, -2.1090995 , -0.39124185, -0.92518264],
       [ 1.52872476, -0.65654714, -0.55267563, -0.44770342]])

In [45]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.627458 -0.554365  0.138348 -0.606953
std    0.911212  0.890159  0.529121  0.365111
min   -0.426959 -2.109099 -0.552676 -1.198420
25%   -0.211043 -0.651918 -0.245030 -0.805813
50%    0.770545 -0.475508  0.204236 -0.420222
75%    1.430642 -0.243409  0.459499 -0.363019
max    1.538178  0.610690  0.824494 -0.324560

In [46]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.404695   -0.416289    1.136395    1.538178   -0.426959    1.528725
B   -0.638029   -0.312987   -0.220216    0.610690   -2.109099   -0.656547
C    0.824494    0.193604    0.541043    0.214867   -0.391242   -0.552676
D   -0.353112   -0.392741   -0.324560   -1.198420   -0.925183   -0.447703

In [53]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.353112  0.824494 -0.638029  0.404695
2013-01-02 -0.392741  0.193604 -0.312987 -0.416289
2013-01-03 -0.324560  0.541043 -0.220216  1.136395
2013-01-04 -1.198420  0.214867  0.610690  1.538178
2013-01-05 -0.925183 -0.391242 -2.109099 -0.426959
2013-01-06 -0.447703 -0.552676 -0.656547  1.528725

In [54]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183
2013-01-06  1.528725 -0.656547 -0.552676 -0.447703
2013-01-01  0.404695 -0.638029  0.824494 -0.353112
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741
2013-01-03  1.136395 -0.220216  0.541043 -0.324560
2013-01-04  1.538178  0.610690  0.214867 -1.198420

## Selection

### Getting

In [55]:
# Selecting a single column, which yields a Series, equivalent to df.A:

df['A']

2013-01-01    0.404695
2013-01-02   -0.416289
2013-01-03    1.136395
2013-01-04    1.538178
2013-01-05   -0.426959
2013-01-06    1.528725
Freq: D, Name: A, dtype: float64

In [56]:
# Selecting via [], which slices the rows.

df[0:3]

                   A         B         C         D
2013-01-01  0.404695 -0.638029  0.824494 -0.353112
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741
2013-01-03  1.136395 -0.220216  0.541043 -0.324560

In [57]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741
2013-01-03  1.136395 -0.220216  0.541043 -0.324560
2013-01-04  1.538178  0.610690  0.214867 -1.198420

### Selection by Label

In [60]:
# For getting a cross section using a label:

df.loc[dates[0]]

A    0.404695
B   -0.638029
C    0.824494
D   -0.353112
Name: 2013-01-01 00:00:00, dtype: float64

In [64]:
# Selecting on a multi-axis by label:

df.loc[:, ['A','B']]

                   A         B
2013-01-01  0.404695 -0.638029
2013-01-02 -0.416289 -0.312987
2013-01-03  1.136395 -0.220216
2013-01-04  1.538178  0.610690
2013-01-05 -0.426959 -2.109099
2013-01-06  1.528725 -0.656547

In [66]:
# Showing label slicing, both endpoints are included:

df.loc['20130102':'20130104', ['A','B']]

                   A         B
2013-01-02 -0.416289 -0.312987
2013-01-03  1.136395 -0.220216
2013-01-04  1.538178  0.610690

In [67]:
# Reduction in the dimensions of the returned object:

df.loc['20130102', ['A','B']]

A   -0.416289
B   -0.312987
Name: 2013-01-02 00:00:00, dtype: float64

In [68]:
# For getting a scalar value:

df.loc[dates[0], 'A']

0.40469538983819897

In [69]:
# For getting fast access to a scalar (equivalent to the prior method):

df.at[dates[0], 'A']

0.40469538983819897

## Selection by Position

In [70]:
# Select via the position of the passed integers:

df.iloc[3]

A    1.538178
B    0.610690
C    0.214867
D   -1.198420
Name: 2013-01-04 00:00:00, dtype: float64

In [73]:
# By integer slices, acting similar to numpy/python:

df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.538178  0.610690
2013-01-05 -0.426959 -2.109099

In [74]:
# By lists of integer position locations, similar to the numpy/python style:

df.iloc[[1,2,4], [0, 2]]

                   A         C
2013-01-02 -0.416289  0.193604
2013-01-03  1.136395  0.541043
2013-01-05 -0.426959 -0.391242

In [75]:
# For slicing rows explicitly:

df.iloc[1:3, :]

                   A         B         C         D
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741
2013-01-03  1.136395 -0.220216  0.541043 -0.324560

In [80]:
# For slicing columns explicitly:

df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.638029  0.824494
2013-01-02 -0.312987  0.193604
2013-01-03 -0.220216  0.541043
2013-01-04  0.610690  0.214867
2013-01-05 -2.109099 -0.391242
2013-01-06 -0.656547 -0.552676

In [81]:
# For getting a value explicitly:

df.iloc[1,1]

-0.3129866037176478

In [82]:
# For getting fast access to a scalar (equivalent to the prior method):

df.iat[1,1]

-0.3129866037176478

In [84]:
df.iloc[1,1]

-0.3129866037176478

### Boolean Indexing

In [85]:
# Using a single columnâ€™s values to select data.

df[df.A > 0]

                   A         B         C         D
2013-01-01  0.404695 -0.638029  0.824494 -0.353112
2013-01-03  1.136395 -0.220216  0.541043 -0.324560
2013-01-04  1.538178  0.610690  0.214867 -1.198420
2013-01-06  1.528725 -0.656547 -0.552676 -0.447703

In [86]:
# Selecting values from a DataFrame where a boolean condition is met.

df[df > 0]

                   A        B         C   D
2013-01-01  0.404695      NaN  0.824494 NaN
2013-01-02       NaN      NaN  0.193604 NaN
2013-01-03  1.136395      NaN  0.541043 NaN
2013-01-04  1.538178  0.61069  0.214867 NaN
2013-01-05       NaN      NaN       NaN NaN
2013-01-06  1.528725      NaN       NaN NaN

In [91]:
# Using the isin() method for filtering:

df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  0.404695 -0.638029  0.824494 -0.353112    one
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741    one
2013-01-03  1.136395 -0.220216  0.541043 -0.324560    two
2013-01-04  1.538178  0.610690  0.214867 -1.198420  three
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183   four
2013-01-06  1.528725 -0.656547 -0.552676 -0.447703  three

In [93]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  1.136395 -0.220216  0.541043 -0.324560   two
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183  four

### Setting

In [97]:
# Setting a new column automatically aligns the data by the indexes.

s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [99]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01  0.404695 -0.638029  0.824494 -0.353112  NaN
2013-01-02 -0.416289 -0.312987  0.193604 -0.392741  1.0
2013-01-03  1.136395 -0.220216  0.541043 -0.324560  2.0
2013-01-04  1.538178  0.610690  0.214867 -1.198420  3.0
2013-01-05 -0.426959 -2.109099 -0.391242 -0.925183  4.0
2013-01-06  1.528725 -0.656547 -0.552676 -0.447703  5.0

In [101]:
# Setting values by label:

df.at[dates[0], 'A'] = 0

In [103]:
# Setting values by position:

df.iat[0,1] = 0

In [105]:
# Setting by assigning with a NumPy array:

df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.824494  5  NaN
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0
2013-01-03  1.136395 -0.220216  0.541043  5  2.0
2013-01-04  1.538178  0.610690  0.214867  5  3.0
2013-01-05 -0.426959 -2.109099 -0.391242  5  4.0
2013-01-06  1.528725 -0.656547 -0.552676  5  5.0

In [106]:
# A where operation with setting.

df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.824494 -5  NaN
2013-01-02 -0.416289 -0.312987 -0.193604 -5 -1.0
2013-01-03 -1.136395 -0.220216 -0.541043 -5 -2.0
2013-01-04 -1.538178 -0.610690 -0.214867 -5 -3.0
2013-01-05 -0.426959 -2.109099 -0.391242 -5 -4.0
2013-01-06 -1.528725 -0.656547 -0.552676 -5 -5.0

## Missing Data

In [110]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.824494  5  NaN
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0
2013-01-03  1.136395 -0.220216  0.541043  5  2.0
2013-01-04  1.538178  0.610690  0.214867  5  3.0
2013-01-05 -0.426959 -2.109099 -0.391242  5  4.0
2013-01-06  1.528725 -0.656547 -0.552676  5  5.0

In [109]:
# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

                   A         B         C  D    F   E
2013-01-01  0.000000  0.000000  0.824494  5  NaN NaN
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0 NaN
2013-01-03  1.136395 -0.220216  0.541043  5  2.0 NaN
2013-01-04  1.538178  0.610690  0.214867  5  3.0 NaN

In [111]:
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.824494  5  NaN  1.0
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0  1.0
2013-01-03  1.136395 -0.220216  0.541043  5  2.0  NaN
2013-01-04  1.538178  0.610690  0.214867  5  3.0  NaN

In [114]:
# To drop any rows that have missing data.

df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0  1.0

In [117]:
# Filling missing data.

df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.824494  5  5.0  1.0
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0  1.0
2013-01-03  1.136395 -0.220216  0.541043  5  2.0  5.0
2013-01-04  1.538178  0.610690  0.214867  5  3.0  5.0

In [118]:
# To get the boolean mask where values are nan.

pd.isna(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

## Operations

### Stats

Operations in general exclude missing data.

In [119]:
# Performing a descriptive statistic:
df.mean()

A    0.560008
B   -0.448027
C    0.138348
D    5.000000
F    3.000000
dtype: float64

In [121]:
# Same operation on the other axis:

df.mean(1)

2013-01-01    1.456123
2013-01-02    1.092866
2013-01-03    1.691444
2013-01-04    2.072747
2013-01-05    1.214540
2013-01-06    2.063900
Freq: D, dtype: float64

In [125]:
# Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

s = pd.Series([1,3,5, np.nan, 6, 8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [126]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03  0.136395 -1.220216 -0.458957  4.0  1.0
2013-01-04 -1.461822 -2.389310 -2.785133  2.0  0.0
2013-01-05 -5.426959 -7.109099 -5.391242  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

### Apply

In [130]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.824494  5  NaN
2013-01-02 -0.416289 -0.312987  0.193604  5  1.0
2013-01-03  1.136395 -0.220216  0.541043  5  2.0
2013-01-04  1.538178  0.610690  0.214867  5  3.0
2013-01-05 -0.426959 -2.109099 -0.391242  5  4.0
2013-01-06  1.528725 -0.656547 -0.552676  5  5.0

In [129]:
# Applying functions to the data:

df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.824494   5   NaN
2013-01-02 -0.416289 -0.312987  1.018098  10   1.0
2013-01-03  0.720106 -0.533203  1.559141  15   3.0
2013-01-04  2.258285  0.077487  1.774008  20   6.0
2013-01-05  1.831326 -2.031612  1.382766  25  10.0
2013-01-06  3.360051 -2.688159  0.830091  30  15.0

In [134]:
df.apply(lambda x: x.max() - x.min())

A    1.965137
B    2.719790
C    1.377169
D    0.000000
F    4.000000
dtype: float64

### Histogramming

In [141]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    0
1    1
2    1
3    6
4    1
5    3
6    5
7    5
8    5
9    3
dtype: int64

In [142]:
s.value_counts()

5    3
1    3
3    2
6    1
0    1
dtype: int64

### String Methods

In [146]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge
### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [12]:
# Concatenating pandas objects together with concat():

df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.928564 -0.815379  1.324837  0.326297
1  0.798877  0.725045 -1.990918 -0.717458
2  0.857138  0.551519 -0.749149  0.076949
3  0.647989 -1.199074  0.547285  0.195706
4  1.405279 -0.467440  0.094904  0.139581
5 -1.373952 -0.379760 -1.568942 -0.878914
6 -0.782738 -1.017740  0.886952  0.913728
7  0.117606 -1.111219 -0.655007  1.073381
8  0.257717 -1.189028 -1.166285 -0.718405
9  1.388041 -0.326747  0.852696 -1.172886

In [21]:
# break it into pieces

pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -1.928564 -0.815379  1.324837  0.326297
1  0.798877  0.725045 -1.990918 -0.717458
2  0.857138  0.551519 -0.749149  0.076949
3  0.647989 -1.199074  0.547285  0.195706
4  1.405279 -0.467440  0.094904  0.139581
5 -1.373952 -0.379760 -1.568942 -0.878914
6 -0.782738 -1.017740  0.886952  0.913728
7  0.117606 -1.111219 -0.655007  1.073381
8  0.257717 -1.189028 -1.166285 -0.718405
9  1.388041 -0.326747  0.852696 -1.172886

### join

In [22]:
left = pd.DataFrame({'key': ['foo', 'foo'],
                     'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [26]:
right = pd.DataFrame({'key': ['foo', 'foo'],
                     'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [27]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [29]:
# Another example that can be given is:

left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [30]:
left

   key  lval
0  foo     1
1  bar     2

In [31]:
right

   key  rval
0  foo     4
1  bar     5

In [32]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Append

In [34]:
df = pd.DataFrame( np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -1.280412 -1.200124 -0.236782 -0.509665
1 -0.723057 -0.912788 -0.910308  0.165327
2 -0.330507  0.348125 -0.619613  2.231952
3  1.648625 -0.727041 -0.030029 -1.245931
4 -1.130401  0.354342  0.545367  0.066475
5  1.261277 -1.676639  0.472363 -0.883838
6 -0.964834  1.977498  0.662980 -0.958233
7  0.783079 -0.190462  0.891268  0.210973

In [35]:
s = df.iloc[3]
s

A    1.648625
B   -0.727041
C   -0.030029
D   -1.245931
Name: 3, dtype: float64

In [38]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.280412 -1.200124 -0.236782 -0.509665
1 -0.723057 -0.912788 -0.910308  0.165327
2 -0.330507  0.348125 -0.619613  2.231952
3  1.648625 -0.727041 -0.030029 -1.245931
4 -1.130401  0.354342  0.545367  0.066475
5  1.261277 -1.676639  0.472363 -0.883838
6 -0.964834  1.977498  0.662980 -0.958233
7  0.783079 -0.190462  0.891268  0.210973
8  1.648625 -0.727041 -0.030029 -1.245931

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

In [39]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                                   'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                   'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.380172 -0.011248
1  bar    one  0.178476 -0.786848
2  foo    two  0.613745  1.491493
3  bar  three -0.845522 -0.123247
4  foo    two -1.090239  1.105233
5  bar    two -1.799998 -1.184247
6  foo    one -2.113468  0.848076
7  foo  three  1.916292 -0.330697

In [40]:
# Grouping and then applying the sum() function to the resulting groups.

df.groupby('A').sum()

            C         D
A
bar -2.467043 -2.094342
foo -2.053841  3.102856

In [41]:
# Grouping by multiple columns forms a hierarchical index, and again we can apply the sum function.

df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.178476 -0.786848
    three -0.845522 -0.123247
    two   -1.799998 -1.184247
foo one   -3.493639  0.836828
    three  1.916292 -0.330697
    two   -0.476493  2.596725

## Reshaping

### Stack

In [44]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                         'foo', 'foo', 'qux', 'qux'],
                        ['one', 'two', 'one', 'two',
                         'one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [46]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [47]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one    -0.933257 -0.595665
      two     1.280092 -1.524173
baz   one     0.303418  0.379914
      two     0.758941 -0.026879
foo   one    -0.485133  0.193684
      two    -1.441595 -1.529518
qux   one    -0.066627  0.380740
      two    -0.697872  0.850932

In [49]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.933257 -0.595665
      two     1.280092 -1.524173
baz   one     0.303418  0.379914
      two     0.758941 -0.026879

In [51]:
# The stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns.

stacked = df2.stack()
stacked

first  second
bar    one     A   -0.933257
               B   -0.595665
       two     A    1.280092
               B   -1.524173
baz    one     A    0.303418
               B    0.379914
       two     A    0.758941
               B   -0.026879
dtype: float64

With a â€œstackedâ€ DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level:

In [52]:
stacked.unstack()

                     A         B
first second
bar   one    -0.933257 -0.595665
      two     1.280092 -1.524173
baz   one     0.303418  0.379914
      two     0.758941 -0.026879

In [53]:
stacked.unstack(1)

second        one       two
first
bar   A -0.933257  1.280092
      B -0.595665 -1.524173
baz   A  0.303418  0.758941
      B  0.379914 -0.026879

In [54]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.933257  0.303418
       B -0.595665  0.379914
two    A  1.280092  0.758941
       B -1.524173 -0.026879

### Pivot Tables