# 12. pandas选择数据

In [1]:
import numpy as np
import pandas as pd

In [9]:
dates = pd.date_range('20181201', periods=6)
dates

DatetimeIndex(['2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04',
               '2018-12-05', '2018-12-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.arange(24).reshape((6,4)), index = dates, columns=['A','B','C','D'])
df

             A   B   C   D
2018-12-01   0   1   2   3
2018-12-02   4   5   6   7
2018-12-03   8   9  10  11
2018-12-04  12  13  14  15
2018-12-05  16  17  18  19
2018-12-06  20  21  22  23

In [11]:
df['A']

2018-12-01     0
2018-12-02     4
2018-12-03     8
2018-12-04    12
2018-12-05    16
2018-12-06    20
Freq: D, Name: A, dtype: int64

In [12]:
df.A

2018-12-01     0
2018-12-02     4
2018-12-03     8
2018-12-04    12
2018-12-05    16
2018-12-06    20
Freq: D, Name: A, dtype: int64

In [13]:
df[2:]

             A   B   C   D
2018-12-03   8   9  10  11
2018-12-04  12  13  14  15
2018-12-05  16  17  18  19
2018-12-06  20  21  22  23

## loc :

In [14]:
df.loc['20181203']

A     8
B     9
C    10
D    11
Name: 2018-12-03 00:00:00, dtype: int64

In [18]:
df.loc[:,['B','C']]

             B   C
2018-12-01   1   2
2018-12-02   5   6
2018-12-03   9  10
2018-12-04  13  14
2018-12-05  17  18
2018-12-06  21  22

In [19]:
df.loc['20181204',['C','D']]

C    14
D    15
Name: 2018-12-04 00:00:00, dtype: int64

## iloc :

In [20]:
df.iloc[3]

A    12
B    13
C    14
D    15
Name: 2018-12-04 00:00:00, dtype: int64

In [21]:
df.iloc[3:5,1:3]

             B   C
2018-12-04  13  14
2018-12-05  17  18

## boolean indexing :

In [24]:
df.A > 8

2018-12-01    False
2018-12-02    False
2018-12-03    False
2018-12-04     True
2018-12-05     True
2018-12-06     True
Freq: D, Name: A, dtype: bool

In [26]:
df[df.A > 8]

             A   B   C   D
2018-12-04  12  13  14  15
2018-12-05  16  17  18  19
2018-12-06  20  21  22  23